<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:16:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateanaccountTest.Intialization()[pri:0, instance:com.practice.CreateanaccountTest@5a1c0542]">&gt;&gt;Intialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@988458918</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:16:33</td>   <td>15988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateanaccountTest.Account_Creation()[pri:1, instance:com.practice.CreateanaccountTest@5a1c0542]">Account_Creation</td> 
  <td>main@988458918</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:16:38</td>   <td>20802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateanaccountTest.Registration()[pri:2, instance:com.practice.CreateanaccountTest@5a1c0542]">Registration</td> 
  <td>main@988458918</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:17:47</td>   <td>90052</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateanaccountTest.CloseBrowser()[pri:0, instance:com.practice.CreateanaccountTest@5a1c0542]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@988458918</td>   <td></td> </tr>
</table>
