<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="958a8d">  <td>20/09/20 23:43:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateanaccountTest.Account_Creation()[pri:1, instance:com.practice.CreateanaccountTest@1e965684]">Account_Creation</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:41:59</td>   <td>-75780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Catalog.Catalog_for_Dresses()[pri:2, instance:com.practice.Catalog@5f282abb]">Catalog_for_Dresses</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:42:03</td>   <td>-71648</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Catalog.CloseBrowser()[pri:0, instance:com.practice.Catalog@5f282abb]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/09/20 23:43:00</td>   <td>-14293</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddcartTest.CloseBrowser()[pri:0, instance:com.practice.AddcartTest@167fdd33]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/09/20 23:44:30</td>   <td>75445</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateanaccountTest.CloseBrowser()[pri:0, instance:com.practice.CreateanaccountTest@1e965684]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/09/20 23:45:02</td>   <td>107498</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.CloseBrowser()[pri:0, instance:com.practice.LoginTest@4d95d2a2]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/09/20 23:44:44</td>   <td>89230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.InValidlogin()[pri:1, instance:com.practice.LoginTest@4d95d2a2]">InValidlogin</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:41:36</td>   <td>-98195</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Catalog.Intialization()[pri:0, instance:com.practice.Catalog@5f282abb]">&gt;&gt;Intialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/09/20 23:42:03</td>   <td>-71429</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddcartTest.Intialization()[pri:0, instance:com.practice.AddcartTest@167fdd33]">&gt;&gt;Intialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/09/20 23:43:00</td>   <td>-14171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateanaccountTest.Intialization()[pri:0, instance:com.practice.CreateanaccountTest@1e965684]">&gt;&gt;Intialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/09/20 23:44:30</td>   <td>75634</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.Intialization()[pri:0, instance:com.practice.LoginTest@4d95d2a2]">&gt;&gt;Intialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/09/20 23:44:54</td>   <td>99752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Password_Forgot()[pri:3, instance:com.practice.LoginTest@4d95d2a2]">Password_Forgot</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="958a8d">  <td>20/09/20 23:43:19</td>   <td>4703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateanaccountTest.Registration()[pri:2, instance:com.practice.CreateanaccountTest@1e965684]">Registration</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>20/09/20 23:41:52</td>   <td>-82025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Catalog.Validlogin()[pri:1, instance:com.practice.Catalog@5f282abb]">Validlogin</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/09/20 23:42:17</td>   <td>-57451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddcartTest.Validlogin()[pri:1, instance:com.practice.AddcartTest@167fdd33]">Validlogin</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="b9c4b8">  <td>20/09/20 23:44:50</td>   <td>95617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Validlogin()[pri:2, instance:com.practice.LoginTest@4d95d2a2]">Validlogin</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/09/20 23:42:25</td>   <td>-48831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddcartTest.Womens_AddtoCart()[pri:2, instance:com.practice.AddcartTest@167fdd33]">Womens_AddtoCart</td> 
  <td>main@242355057</td>   <td></td> </tr>
</table>
